// Файл обнуляющих стилей
@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");

// ------

body {
	font-size: 16px;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 5px solid black;
}
div {
	//border: 1px solid #a37bc4;

	font-size: 16px;
	font-weight: 700;
}

.input {
	margin: 10px;
	display: block;
	border: 1px solid black;
	height: 30px;
	width: 200px;
}

.version {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.value {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 300px;
	font-size: 16px;
	font-weight: 400;
	&__text {
		display: flex;	
		align-items:flex-end;
		& span {
			font-size: 23px;
		}
	}
}
.2 {
	margin: 0 0 10px 0;
}

.Mekv {
	display: flex;
	align-items: center;

	&__formula {
		width: 280px;
		&_left {
			height: 100px;
			position: relative;
			.block {
				position: absolute;
				top: 40px;
				left: 20px;
				background-color: black;
				width: 20px;
				height: 5px;
				border-radius: 50px;
			}
			.block1 {
				position: absolute;
				top: 40px;
				left: 43px;
				background-color: black;
				width: 5px;
				height: 40px;
				border-radius: 50px;
				transform: rotate(-20deg);
			}
			.block2 {
				position: absolute;
				top: 11px;
				left: 61px;
				background-color: black;
				width: 5px;
				height: 70px;
				border-radius: 50px;
				transform: rotate(20deg);
			}
			.block3 {
				position: absolute;
				top: 12px;
				left: 74px;
				background-color: black;
				width: 70px;
				height: 5px;
				border-radius: 50px;
			}
			.block4 {
				top: 30px;
				left: 80px;
				position: absolute;
			}
		}

		&_right {
		}

		&_top {
			padding: 0 0 5px;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			justify-content: center;
			display: flex;
		}

		&_bottom {
			padding: 5px 0 0;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			border-top: 5px solid black;
		}
	}

	&__decision {
	}

	&__answer {
	}
}

//----------------
//корень
.power {
	font-size: 10px;
}
//----------------

//----------------
//кнопка
.buttonRun {
	height: 34px;
	display: flex;
	justify-content: center;
}
.buttonRunBeg {
	background: #8080ff;
	border-radius: 20px;
}
.butt {
	width: 200px;
	height: 30px;
	border-radius: 20px;
	background: #80ff80;
	font-size: 16px;
	font-weight: 700;
	transition-property: width, background-color;
	transition-duration: 500ms;
	&:hover {
		background-color: #cafd60;
	}
	&:active {
		height: 32px;
	}
}
.rer {
	margin-left: 10px;
	font-size: 35px;
}
//----------------

.Pnnp__formula {
	display: flex;
}
.Pnnp {
	display: flex;
}
.Pnnp__decision {
	margin-left: 10px;
	display: flex;
}

.engine_selection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.engine {
	text-align: center;
}
